* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #3366cc;
}

input  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

a:hover {
    color: green;
}
/* css for password reset */
body .password-reset{
    min-width: 640px;
    margin: auto;
}