<!DOCTYPE html>
{% extends 'layout.html' %}

{% block title %}
    Private chats | LetsChat
{% endblock %}
{% block content %}
    <div class="main-container d-flex">
        {% include "chat/private-groups/snippets/sidebar.html" %}
        {% include "chat/private-groups/snippets/message.html" %}
    </div>
        
{% endblock %}

{% block scripts %}
{{ current_room.id|json_script:"json-roomid" }}
{{ request.user.username|json_script:"json-username" }}
{{ request.user.profile.pic.url|json_script:"json-profile-pic" }}
<script type="text/javascript">
  const room_id= JSON.parse(document.getElementById('json-roomid').textContent);
  const userName = JSON.parse(document.getElementById('json-username').textContent);
  const profile_pic = JSON.parse(document.getElementById('json-profile-pic').textContent);
  timestamp = formatDate(new Date())
  const file = document.querySelector('#formFile');
  file_name = ""
  file_data = ''
  file.addEventListener('change', function(e){
    // Get the selected file
   const [file] = e.target.files;
   // Get the file name and size
   const { name: fileName, size } = file;
   // Convert size in bytes to kilo bytes
   const fileSize = (size / 1000).toFixed(2);
   // Set the text content
   file_name = fileName
   const fileNameAndSize = `${fileName} - ${fileSize}KB`;
   document.querySelector('.file-name').textContent = fileNameAndSize;
   //transforming the file for updload 
   const fr = new FileReader();
   fr.readAsDataURL(file);
   fr.addEventListener('load', ()=> {
       file_data = fr.result;
    })   
  });
  const socketURL = `ws://${window.location.host}/ws/private-messages/${room_id}/`;
  const chatSocket = new WebSocket(socketURL);
  chatSocket.onmessage = function(e) {
    let data = JSON.parse(e.data)
    if(data.message || data.file_data) {
        html = ''
        if (data.username == userName) {
            html += '<div class="user-chats">'
            html += '<div class="user-img"><img height="50px" src="'+ data.profile_pic +'"></img></div>'
            html += '<div class="msg"><div class="user-msg">'
            html += '<p class="text-start">'
            if (data.file_data)
            {
                    html += '<img height="300px" width="300px" src="'+ data.file_data +'"></img></br>'
            }
             if (data.message)
            {
                html +=  data.message 
            }
            html += '</p><span>'+ data.username + '| '+ data.timestamp + '</span>'
            html += '</div></div></div>'
        } else {
            html += '<div class="other-chats">'
            html += '<div class="other-img"><img height="50px" src="'+ data.profile_pic +'"></img></div>'
            html += '<div class="msgs"><div class="other-msg"><p class="text-start">'
            if (data.file_data)
            {
                html += '<img height="300px" width="300px" src="'+ data.file_data +'"></img></br>'
            }
            else if (data.message)
            {
                html += data.message
            }
            html += '</p><span>'+ data.username + '| '+ data.timestamp +'</span></div></div></div>'
        }
       
        document.querySelector('.chat').innerHTML += html
        scrollToBottom()
    }
    //console.log('Data:', data)
  }
  chatSocket.onclose = function(e) {
    console.log('onmessage')
  }
  const form = document.getElementById('message-form');
  form.addEventListener('submit', function(e){
      e.preventDefault();
      let message_sent = document.getElementById('message-input').value;
      if (message_sent == "" && file_data =='' ) {
          alert("You must write a message or choose an image")
      } else {
          chatSocket.send(JSON.stringify({
              'message': message_sent,
              'username': userName,
              'profile_pic': profile_pic,
              'timestamp': timestamp,
              'room_id': room_id,
              'file_data' : file_data,
              'file_name' : file_name,
          }));
          document.querySelector('.file-name').textContent = "";
          document.querySelector('#formFile').value = null;
          file_data = ''
          file_name = ''
          form.reset();
      }
  })
  function formatDate(date) {
      const options = { month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
      const formattedDate = date.toLocaleString('en-US', options);
      // Replace AM/PM with lowercase
      return formattedDate.replace(/(AM|PM)/, (match) => match.toLowerCase());
  }
  function scrollToBottom(){
      // Function to scroll to the current latest message
      const scroll_chat = document.querySelector('.chat');
      setTimeout(() => {
          scroll_chat.scrollTop = scroll_chat.scrollHeight - scroll_chat.clientHeight;
        }, 0);
  }
  window.setTimeout( () => {
      scrollToBottom();
  }, 1000);
  const chat_list = document.getElementById('scrollarea');
  var chats = chat_list.getElementsByClassName("chat");
  for (var i = 0; i < chats.length; i++) {
      // This is used to activate the chat groups that is chosen by the user
      chats[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
    
        // If there's no active class
        if (current.length > 0) {
          current[0].className = current[0].className.replace(" active", "");
        }
    
        // Add the active class to the current/clicked button
        this.className += " active";
      });
    } 
</script>
{% endblock %}