<!DOCTYPE html>
{% extends 'auth_layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container my-5">
    <div class="p-5 bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Reset password</h1>
      <form method="post">
        {% csrf_token %}
            <fieldset class="form-froup">
                {{form|crispy}}
            </fieldset>
            <button type="submit" class="btn btn-outline-info">Reset Password</button>
        </form>
    </div>
</div>
{% comment %} <div class="password-reset card">
    <h5 class="card-header">Reset Password</h5>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-froup">
                {{form|crispy}}
            </fieldset>
            <button type="submit" class="btn btn-outline-info">Reset Password</button>
        </form>
    </div>
</div> {% endcomment %}
{% endblock %}