<!DOCTYPE html>
{% extends 'layout.html' %}
{% block title %}
    Profile
{% endblock %}

{% block content %}
<div class="profile ">
    <div class="container-fluid text-center">
        <div class="row">
          <div class="col">
            <img src="{{user.profile.pic.url}}" alt="">
          </div>
          <div class="col align-self-center">
            <h1>{{user.username}}'s Profile</h1>
          </div>
        </div>
      </div> <br>
    <div class="row g-5">
      <div class="col-md-10 col-lg-10">
        <form method="POST" enctype='multipart/form-data'>
          {% csrf_token %}  
            <div class="row g-3">
                <div class="col">
                    <label for="first_name">First name</label>
                    <input type="text" class='form-control' name="first_name" id="first_name" value="{{user.first_name}}">
                    <div class="invalid-feedback">Valid first name is required</div>
                </div>
                <div class="col">
                    <label for="last_name">Last name</label>
                    <input type="text" class='form-control' name="last_name" id="last_name" value="{{user.last_name}}">
                    <div class="invalid-feedback">Valid last name is required</div>
                </div>
            </div>
            <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" name="username" id="username" value="{{user.username}}" required="">
                <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</span></label>
                <input type="email" class="form-control" name="email" id="email" value="{{user.email}}">
            </div></br>
            <div class="form-check form-switch">
              {% if user.profile.email_hidden  %}
                <input class="form-check-input" type="checkbox" role="switch" name="email_hidden" id="email_hidden" checked>
              {% else %}
                <input class="form-check-input" type="checkbox" role="switch" name="email_hidden" id="email_hidden">
              {% endif %}
              <label class="form-check-label" for="hide-email">Hide Email</label>
            </div></br>
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="pic" id="pic" accept="image/*" >
                <label class="input-group-text" for="pic">Select an image</label>
            </div>
            <div class="d-flex d-flex justify-content-between">
              <button type="Update" name="updateAccount" class="btn btn-success btn-lg">Update profile</button>
              <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#deleteAccount">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="30px">
                  <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L353.3 251.6C407.9 237 448 187.2 448 128C448 57.3 390.7 0 320 0C250.2 0 193.5 55.8 192 125.2L38.8 5.1zM264.3 304.3C170.5 309.4 96 387.2 96 482.3c0 16.4 13.3 29.7 29.7 29.7l388.6 0c3.9 0 7.6-.7 11-2.1l-261-205.6z"/>
                </svg>
                  Delete 
              </button>
            </div>
          </form>
          <div class="modal fade" id="deleteAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteAccountLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="deleteAccountLabel">Delete your account</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {{request.user.username}} do you want to delete your account? 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form method="post">
                    {% csrf_token %}
                    <button name="deleteAccount" id="delete_group_btn" type="submit" class="btn btn-danger" value="{{current_room.id}}">Yes,Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <a href="{% url 'friend-list' %}">Friends ({{friends|length}})</a>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <a href="{% url 'friend-requests' %}">Friends Requests</a>
          </li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}