<script type="text/javascript">
    function cancelFriendRequest(id,uiUpdateFunction)
    {
        payload = {
            csrfmiddlewaretoken: '{{ csrf_token }}' ,
            receiver_user_id : id,
        },
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{% url 'cancel-friend-request' %}",
            timeout:5000,
            data:payload,
            success: function(data){
                console.log(data)
            },
            error: function(data){
                alert("Something went wrong: " + data)
            },
            complete:function(data){
                uiUpdateFunction()
            }
        })
    }
</script>